# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# vscode run scripts
**/.settings/
app/bin/


# ignore save files (NOTE: FOR NOW, they will be useful in the examples)
app/src/main/saves
